@charset "UTF-8";

/* Estilos para o corpo da página */
body {
    font-family: Arial, sans-serif;
    background-color: lightgray;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

header {
    width: 98.94%;
    height: 80px;
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

nav {
	background-color: rgb(41, 41, 41);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	padding: 10px;
	width: 100%;
}

nav a {
	color: #feb81c;
	font-weight: bold;
	font-size: large;
}

nav a:hover{
	color:  rgb(241, 192, 85);
}

nav form input[type="submit"]{
	background-color: red;
	border-radius: 10px;
	border: none;
	padding: 5px;
	color: white;
	cursor: pointer;
}

img {
    width: 80px;
    height: auto;
}

/* Estilos para a barra de pesquisa */
.search-bar {
    background-color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 50px;
    width: 25%;
}

/* Estilos para o campo de entrada de texto */
.search-input {
    flex: 1;
    padding: 8px;
    outline: none;
    border: none;
}

/* Estilos para o botão de pesquisa (lupa) */
.search-button {
    background-color: #007bff;
    color: #fff;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    margin-left: 5px;
    cursor: pointer;
}

a {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: black;
}

h3 {
    margin-left: 15px;
    color: white;
    margin-right: 20px;
}

div.loginIcon a img {
    width: 50px;
}

div.search-bar input[type="submit"] {
    background-color: white;
    border: none;
}

main {
    width: 80%;
    height: 100%;
    
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
}
tbody{
    width: 100%;
}

tr {
    width: 100%;
    display: flex;
}

td {
    width: 50%;
}

table input[type="text"], table input[type="email"], 
table input[type="date"]{
    width: 80%;
    font-size: large;
    border: none;
    border-radius: 50px;
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    text-align: center;
} 

label {
    color: black;
    /* width: 50%; */
    font-size: 25px;
}

table input[type="date"] {
    font-size: medium;
    width: 40%;
}

table img {
    width: 25px;
    margin-right: 20px;
    margin-left: 25px;
}

main form input[type="submit"]{
    padding: 10px;
    border: none;
    border-radius: 10px;
    width: 20%;
    font-weight: 600;
    font-size: 20px;
    background-color: #feb81c;
    margin: 15px;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.meusDados {
    margin-bottom: 50px;
}

.meusDados, table {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

