@charset "UTF-8";

body {
	font-family: Arial, sans-serif;
	background-color: lightgray;
	width: 100vw;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	overflow-x: hidden;
}

header {
	width: 100%;
	height: 80px;
	background-color: black;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
}

img {
	width: 80px;
	height: auto;
}

.search-bar {
	background-color: white;
	padding: 10px;
	display: flex;
	align-items: center;
	border: none;
	border-radius: 50px;
	width: 25%;
}

.search-input {
	flex: 1;
	padding: 8px;
	outline: none;
	border: none;
}

.search-button {
	background-color: #007bff;
	color: #fff;
	padding: 8px 15px;
	border: none;
	border-radius: 5px;
	margin-left: 5px;
	cursor: pointer;
}

a {
	display: flex;
	flex-direction: row;
	align-items: center;
	text-decoration: none;
	color: black;
}

h3 {
	margin-left: 15px;
	color: white;
	margin-right: 20px;
}

div.loginIcon a img {
	width: 50px;
}

div.search-bar input[type="submit"] {
	background-color: white;
	border: none;
}


nav {
	background-color: rgb(41, 41, 41);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	padding: 10px;
	width: 100%;
}

nav a {
	color: #feb81c;
	font-weight: bold;
	font-size: large;
}

nav a:hover {
	color: rgb(241, 192, 85);
}

.deslogar {
	width: 0%;
}

nav input[type="submit"] {
	background-color: red;
	border-radius: 10px;
	border: none;
	padding: 5px;
	color: white;
	cursor: pointer;
}

main {
	width: 80%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 30px;
}

form {
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
}

form table input[type="text"] {
	width: 100%;
	margin-left: -18px;
}

form table input[type="number"].valorBase{
	margin-left: -50px;
}

form table input[type="text"],
form table input[type="number"],
form table input[type="date"],
form table input[type="time"] {
	font-size: large;
	border: none;
	border-radius: 50px;
	padding: 10px;
	margin-bottom: 10px;
	width: 90%;
}

form table input[type="time"] {
	text-align: center;
	width: 80%;
	font-size: 15px;
}

form table input[type="date"]{
	text-align: center;
	width: 80%;
	font-size: 15px;
}

form table select {
	font-size: 15px;
	border: none;
	border-radius: 50px;
	padding: 10px;
	margin-bottom: 10px;
	width: 80%;
	text-align: center;
	margin-left: -50px;
}

form table td {
	text-align: center;
	
}

.botoesBaixo {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

form table label {
	font-weight: bold;
	font-size: 17px;
	margin-right: 10px;
	width: 20%;
}

form table .botoes input[type="submit"],
form table input[type="submit"]{
	padding: 10px;
	border: none;
	border-radius: 10px;
	width: 80%;
	font-weight: 400;
	font-size: 20px;
	background-color: #feb81c;
	margin: 5px;
}

.botoesBaixo input[type="submit"]{
	padding: 10px;
	border: none;
	border-radius: 10px;
	width: 30%;
	font-weight: 400;
	font-size: 20px;
	background-color: #feb81c;
	margin: 5px;
}


form table input[type="submit"]:hover {
	background-color: rgb(241, 192, 85);
	box-shadow: 0px 0px 0px rgba(241, 192, 85, 1);
}

.tabelaArtistas {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-top: 50px;
}

.tabelaArtistas table {
	width: 80%;
	border-collapse: collapse;
	background-color: white;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tabelaArtistas thead th {
	background-color: #feb81c;
	color: black;
	padding: 10px;
	text-align: center;
}

.esquerda, .direita {
	width: 48%;	
	margin-left: 5%;
}

.tabelaArtistas tbody tr:nth-child(even) {
	background-color: #f2f2f2;
}

.tabelaArtistas tbody tr:hover {
	background-color: #ddd;
}

.tabelaArtistas td,
.tabelaArtistas th {
	border: 1px solid #ddd;
	padding: 10px;
}

.tabelaArtistas td {
	text-align: center;
}

.table-container {
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 20px;
}

table {
	border-collapse: collapse;
	width: 48%;
}

th,
td {
	padding: 8px;
	text-align: center;
}

th {
	background-color: #f2f2f2;
}

.table-container .btn input {
	padding: 5px 10px;
	font-weight: 400;
	font-size: 15px;
	width: 50%;
}

.esquerda input[type="submit"]{
	padding: 5px;
	border: none;
	border-radius: 10px;
	width: 30%;
	font-weight: 400;
	font-size: 20px;
	background-color: #feb81c;
	margin: 5px;
}

.esquerda table input[type="submit"]{
	padding: 5px;
	padding-right: 20px;
	border: none;
	border-radius: 10px;
	width: 80%;
	font-weight: 400;
	font-size: 20px;
	background-color: #feb81c;
	margin: 5px;
}

.esquerda input[type="text"]{
	font-size: large;
	border: none;
	border-radius: 50px;
	padding: 10px;
	margin-bottom: 10px;
	width: 40%;
}
